
body {
  padding-top: 56px;
}
.navbar, .navbar a {
  background-color: #17A2B8;
  color: #fff;
  font-size: 18px;
}
a {
  color: #8FCBDA;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #46636b;
  font-size: 26px;
}
h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 22px;
}
 h3, h3 a, h3 a:hover {
   font-family: 'Public Sans', sans-serif;
   color: #17A2B8;
   font-weight: 300;
   font-size: 18px;
 }
.large {
  font-size: 22px;
  font-weight: 300;
}
.btn-primary:hover {
  max-width: 180px;
  color:#8FCBDA;
  border: none;
  background-color: #333;
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
}
.btn-primary {
  background-color:#8FCBDA;
  border: none;
  color: #333;
  max-width: 180px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
}
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
ul {
  list-style: none;
}
.bg-light {
  background-color: #8FCBDA !important;
}
