
body {
  padding-top: 56px;
  min-height: 100vh;
}
.navbar, .navbar a {
  background-color: #17A2B8;
  color: #fff;
  font-size: 18px;
}
a {
  color: #17A2B8;
}
a:hover {
  color: #17A2B8;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #46636b;
  font-size: 26px;
}
h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 22px;
}
 h3, h3 a, h3 a:hover {
   font-family: 'Public Sans', sans-serif;
   color: #17A2B8;
   font-weight: 300;
   font-size: 18px;
 }
.large {
  font-size: 22px;
  font-weight: 300;
}
.btn-primary:hover {
  max-width: 180px;
  color:#8FCBDA;
  border: none;
  background-color: #333;
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
}
.btn-primary {
  background-color:#8FCBDA;
  border: none;
  color: #333;
  max-width: 180px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
}
.btn-secondary {
  border: none;
}
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
ul {
  list-style: none;
  padding-left: 10px;
}
li {
  padding-bottom: 1px;
}
.bg-light {
  background-color: #8FCBDA !important;
}
.card {
  border: none !important;
}
.card-body {
  padding-top: 5px;
  padding-right: 0px;
  padding-left: 0px;

}
.projects .btn-archive {
  background-color: #FEAE00;
  color: white;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
  margin: 5px;
}
.projects .btn-edu {
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
  margin: 5px;
}
.projects .btn-corp {
  background-color: pink;
  color: white;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
  margin: 5px;
}
.projects .btn-pa {
  background-color: #FF2D1C;
  color: white;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
  margin: 5px;
}
.projects .btn-cr {
  background-color: #7007AA;
  color: white;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
  margin: 5px;
}
.projects .btn-gallery {
  background-color: #2950C3;
  color: white;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
  margin: 5px;
}
.projects .btn-lh {
  background-color: #8FCBDA;
  color: white;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
  margin: 5px;
}
.projects .btn-consortium {
  background-color: gray;
  color: white;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
  margin: 5px;
}
#mc-embedded-subscribe {
  display: inline-flex;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
}

.post {
  min-height: 120px;
}
